/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as LangfuseAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace ScoresV3 {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Name header */
    xLangfuseSdkName?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Version header */
    xLangfuseSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Public-Key header */
    xLangfusePublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-Langfuse-Sdk-Name header */
    xLangfuseSdkName?: string | undefined;
    /** Override the X-Langfuse-Sdk-Version header */
    xLangfuseSdkVersion?: string | undefined;
    /** Override the X-Langfuse-Public-Key header */
    xLangfusePublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class ScoresV3 {
  protected readonly _options: ScoresV3.Options;

  constructor(_options: ScoresV3.Options) {
    this._options = _options;
  }

  /**
   * Get a list of scores with a polymorphic `value` field (v3).
   *
   * This endpoint requires Langfuse v4 or later.
   *
   * The `value` field type depends on `dataType`:
   * - `NUMERIC` → number
   * - `BOOLEAN` → boolean
   * - `CATEGORICAL`, `TEXT`, `CORRECTION` → string
   *
   * Use the `fields` parameter to include optional field groups beyond the
   * default `core`. Unknown group names return HTTP 400.
   *
   * @param {LangfuseAPI.GetScoresV3Request} request
   * @param {ScoresV3.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LangfuseAPI.Error}
   * @throws {@link LangfuseAPI.UnauthorizedError}
   * @throws {@link LangfuseAPI.AccessDeniedError}
   * @throws {@link LangfuseAPI.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.NotFoundError}
   *
   * @example
   *     await client.scoresV3.getManyV3()
   */
  public getManyV3(
    request: LangfuseAPI.GetScoresV3Request = {},
    requestOptions?: ScoresV3.RequestOptions,
  ): core.HttpResponsePromise<LangfuseAPI.GetScoresV3Response> {
    return core.HttpResponsePromise.fromPromise(
      this.__getManyV3(request, requestOptions),
    );
  }

  private async __getManyV3(
    request: LangfuseAPI.GetScoresV3Request = {},
    requestOptions?: ScoresV3.RequestOptions,
  ): Promise<core.WithRawResponse<LangfuseAPI.GetScoresV3Response>> {
    const {
      limit,
      cursor,
      fields,
      id,
      name,
      source,
      dataType,
      environment,
      configId,
      queueId,
      authorUserId,
      value,
      valueMin,
      valueMax,
      traceId,
      sessionId,
      observationId,
      experimentId,
      fromTimestamp,
      toTimestamp,
    } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    if (cursor != null) {
      _queryParams["cursor"] = cursor;
    }

    if (fields != null) {
      _queryParams["fields"] = fields;
    }

    if (id != null) {
      _queryParams["id"] = id;
    }

    if (name != null) {
      _queryParams["name"] = name;
    }

    if (source != null) {
      _queryParams["source"] = source;
    }

    if (dataType != null) {
      _queryParams["dataType"] = dataType;
    }

    if (environment != null) {
      _queryParams["environment"] = environment;
    }

    if (configId != null) {
      _queryParams["configId"] = configId;
    }

    if (queueId != null) {
      _queryParams["queueId"] = queueId;
    }

    if (authorUserId != null) {
      _queryParams["authorUserId"] = authorUserId;
    }

    if (value != null) {
      _queryParams["value"] = value;
    }

    if (valueMin != null) {
      _queryParams["valueMin"] = valueMin.toString();
    }

    if (valueMax != null) {
      _queryParams["valueMax"] = valueMax.toString();
    }

    if (traceId != null) {
      _queryParams["traceId"] = traceId;
    }

    if (sessionId != null) {
      _queryParams["sessionId"] = sessionId;
    }

    if (observationId != null) {
      _queryParams["observationId"] = observationId;
    }

    if (experimentId != null) {
      _queryParams["experimentId"] = experimentId;
    }

    if (fromTimestamp != null) {
      _queryParams["fromTimestamp"] = fromTimestamp;
    }

    if (toTimestamp != null) {
      _queryParams["toTimestamp"] = toTimestamp;
    }

    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xLangfuseSdkName ?? this._options?.xLangfuseSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xLangfuseSdkVersion ??
          this._options?.xLangfuseSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xLangfusePublicKey ??
          this._options?.xLangfusePublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/v3/scores",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as LangfuseAPI.GetScoresV3Response,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LangfuseAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new LangfuseAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.LangfuseAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.LangfuseAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.LangfuseAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/v3/scores.",
        );
      case "unknown":
        throw new errors.LangfuseAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
