/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../../../core/index.js";
import * as LangfuseAPI from "../../../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../../../core/headers.js";
import * as errors from "../../../../../../errors/index.js";

export declare namespace Evaluators {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Name header */
    xLangfuseSdkName?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Version header */
    xLangfuseSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Public-Key header */
    xLangfusePublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-Langfuse-Sdk-Name header */
    xLangfuseSdkName?: string | undefined;
    /** Override the X-Langfuse-Sdk-Version header */
    xLangfuseSdkVersion?: string | undefined;
    /** Override the X-Langfuse-Public-Key header */
    xLangfusePublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Evaluators {
  protected readonly _options: Evaluators.Options;

  constructor(_options: Evaluators.Options) {
    this._options = _options;
  }

  /**
   * Create an evaluator in the authenticated project.
   *
   * Use evaluators to define **how** Langfuse should score data: the prompt, the expected structured output, and the optional model configuration.
   *
   * Naming behavior:
   * - If this is a new evaluator name in your project, Langfuse creates version `1`.
   * - If the name already exists in your project, Langfuse creates the next version and returns it.
   * - When a new project version is created, existing evaluation rules in that project automatically move to the newest version for that evaluator name.
   *
   * Recommended workflow:
   * 1. Create the evaluator.
   * 2. Read the returned `variables` array.
   * 3. Read the returned `outputDefinition.dataType` so the client knows whether future scores will be numeric, boolean, or categorical.
   * 4. Create one or more evaluation rules that reference the returned evaluator family using `name` and `scope`.
   *
   * Recovery guidance:
   * - `422` with `code=evaluator_preflight_failed`: the evaluator cannot run with the resolved model configuration. Add a valid explicit `modelConfig`, or configure the project's default evaluation model, then retry the same request.
   * - `400` with `code=invalid_body`: the request shape is malformed. Use the structured `details.issues` array to fix the specific fields and retry.
   * - `400` with `code=invalid_body` on `outputDefinition`: send `dataType`, `reasoning.description`, and `score.description`. Do not send `version`; it is not part of the public request shape.
   *
   * Unstable API note:
   * - This surface may evolve while the underlying evaluation data model is being redesigned.
   *
   * @param {LangfuseAPI.unstable.CreateEvaluatorRequest} request
   * @param {Evaluators.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LangfuseAPI.unstable.BadRequestError}
   * @throws {@link LangfuseAPI.unstable.UnauthorizedError}
   * @throws {@link LangfuseAPI.unstable.AccessDeniedError}
   * @throws {@link LangfuseAPI.unstable.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.unstable.ConflictError}
   * @throws {@link LangfuseAPI.unstable.UnprocessableContentError}
   * @throws {@link LangfuseAPI.unstable.TooManyRequestsError}
   * @throws {@link LangfuseAPI.unstable.InternalServerError}
   * @throws {@link LangfuseAPI.Error}
   * @throws {@link LangfuseAPI.UnauthorizedError}
   * @throws {@link LangfuseAPI.AccessDeniedError}
   * @throws {@link LangfuseAPI.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.NotFoundError}
   *
   * @example
   *     await client.unstable.evaluators.create({
   *         name: "answer-correctness",
   *         prompt: "You are grading an answer.\n\nInput:\n{{input}}\n\nOutput:\n{{output}}\n\nReturn a score between 0 and 1.\n",
   *         outputDefinition: {
   *             dataType: "NUMERIC",
   *             dataType: "NUMERIC",
   *             reasoning: {
   *                 description: "Explain why the score was assigned."
   *             },
   *             score: {
   *                 description: "Correctness score between 0 and 1."
   *             }
   *         },
   *         modelConfig: {
   *             provider: "openai",
   *             model: "gpt-4.1-mini"
   *         }
   *     })
   */
  public create(
    request: LangfuseAPI.unstable.CreateEvaluatorRequest,
    requestOptions?: Evaluators.RequestOptions,
  ): core.HttpResponsePromise<LangfuseAPI.unstable.Evaluator> {
    return core.HttpResponsePromise.fromPromise(
      this.__create(request, requestOptions),
    );
  }

  private async __create(
    request: LangfuseAPI.unstable.CreateEvaluatorRequest,
    requestOptions?: Evaluators.RequestOptions,
  ): Promise<core.WithRawResponse<LangfuseAPI.unstable.Evaluator>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xLangfuseSdkName ?? this._options?.xLangfuseSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xLangfuseSdkVersion ??
          this._options?.xLangfuseSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xLangfusePublicKey ??
          this._options?.xLangfusePublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/unstable/evaluators",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as LangfuseAPI.unstable.Evaluator,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LangfuseAPI.unstable.BadRequestError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.unstable.UnauthorizedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.unstable.AccessDeniedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.unstable.MethodNotAllowedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 409:
          throw new LangfuseAPI.unstable.ConflictError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 422:
          throw new LangfuseAPI.unstable.UnprocessableContentError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 429:
          throw new LangfuseAPI.unstable.TooManyRequestsError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 500:
          throw new LangfuseAPI.unstable.InternalServerError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 400:
          throw new LangfuseAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new LangfuseAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.LangfuseAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.LangfuseAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.LangfuseAPITimeoutError(
          "Timeout exceeded when calling POST /api/public/unstable/evaluators.",
        );
      case "unknown":
        throw new errors.LangfuseAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * List the evaluators available to the authenticated project.
   *
   * Important behavior:
   * - This endpoint returns the latest version of each available evaluator.
   * - Results can include evaluators from your project and Langfuse-managed evaluators.
   * - If the same evaluator name exists in both places, both are returned as separate items with different `scope` values.
   *
   * @param {LangfuseAPI.unstable.ListEvaluatorsRequest} request
   * @param {Evaluators.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LangfuseAPI.unstable.BadRequestError}
   * @throws {@link LangfuseAPI.unstable.UnauthorizedError}
   * @throws {@link LangfuseAPI.unstable.AccessDeniedError}
   * @throws {@link LangfuseAPI.unstable.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.unstable.TooManyRequestsError}
   * @throws {@link LangfuseAPI.unstable.InternalServerError}
   * @throws {@link LangfuseAPI.Error}
   * @throws {@link LangfuseAPI.UnauthorizedError}
   * @throws {@link LangfuseAPI.AccessDeniedError}
   * @throws {@link LangfuseAPI.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.NotFoundError}
   *
   * @example
   *     await client.unstable.evaluators.list()
   */
  public list(
    request: LangfuseAPI.unstable.ListEvaluatorsRequest = {},
    requestOptions?: Evaluators.RequestOptions,
  ): core.HttpResponsePromise<LangfuseAPI.unstable.Evaluators> {
    return core.HttpResponsePromise.fromPromise(
      this.__list(request, requestOptions),
    );
  }

  private async __list(
    request: LangfuseAPI.unstable.ListEvaluatorsRequest = {},
    requestOptions?: Evaluators.RequestOptions,
  ): Promise<core.WithRawResponse<LangfuseAPI.unstable.Evaluators>> {
    const { page, limit } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (page != null) {
      _queryParams["page"] = page.toString();
    }

    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xLangfuseSdkName ?? this._options?.xLangfuseSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xLangfuseSdkVersion ??
          this._options?.xLangfuseSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xLangfusePublicKey ??
          this._options?.xLangfusePublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/unstable/evaluators",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as LangfuseAPI.unstable.Evaluators,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LangfuseAPI.unstable.BadRequestError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.unstable.UnauthorizedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.unstable.AccessDeniedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.unstable.MethodNotAllowedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 429:
          throw new LangfuseAPI.unstable.TooManyRequestsError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 500:
          throw new LangfuseAPI.unstable.InternalServerError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 400:
          throw new LangfuseAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new LangfuseAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.LangfuseAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.LangfuseAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.LangfuseAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/unstable/evaluators.",
        );
      case "unknown":
        throw new errors.LangfuseAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get one evaluator by `id`.
   *
   * Use this endpoint when you want the prompt, output definition, model configuration, and derived variables for the evaluator you plan to use in an evaluation rule.
   *
   * @param {string} evaluatorId - Evaluator identifier returned by the evaluator endpoints.
   * @param {Evaluators.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link LangfuseAPI.unstable.BadRequestError}
   * @throws {@link LangfuseAPI.unstable.UnauthorizedError}
   * @throws {@link LangfuseAPI.unstable.AccessDeniedError}
   * @throws {@link LangfuseAPI.unstable.NotFoundError}
   * @throws {@link LangfuseAPI.unstable.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.unstable.TooManyRequestsError}
   * @throws {@link LangfuseAPI.unstable.InternalServerError}
   * @throws {@link LangfuseAPI.Error}
   * @throws {@link LangfuseAPI.UnauthorizedError}
   * @throws {@link LangfuseAPI.AccessDeniedError}
   * @throws {@link LangfuseAPI.MethodNotAllowedError}
   * @throws {@link LangfuseAPI.NotFoundError}
   *
   * @example
   *     await client.unstable.evaluators.get("evaluatorId")
   */
  public get(
    evaluatorId: string,
    requestOptions?: Evaluators.RequestOptions,
  ): core.HttpResponsePromise<LangfuseAPI.unstable.Evaluator> {
    return core.HttpResponsePromise.fromPromise(
      this.__get(evaluatorId, requestOptions),
    );
  }

  private async __get(
    evaluatorId: string,
    requestOptions?: Evaluators.RequestOptions,
  ): Promise<core.WithRawResponse<LangfuseAPI.unstable.Evaluator>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xLangfuseSdkName ?? this._options?.xLangfuseSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xLangfuseSdkVersion ??
          this._options?.xLangfuseSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xLangfusePublicKey ??
          this._options?.xLangfusePublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/unstable/evaluators/${encodeURIComponent(evaluatorId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as LangfuseAPI.unstable.Evaluator,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new LangfuseAPI.unstable.BadRequestError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.unstable.UnauthorizedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.unstable.AccessDeniedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 404:
          throw new LangfuseAPI.unstable.NotFoundError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.unstable.MethodNotAllowedError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 429:
          throw new LangfuseAPI.unstable.TooManyRequestsError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 500:
          throw new LangfuseAPI.unstable.InternalServerError(
            _response.error.body as LangfuseAPI.unstable.PublicApiError,
            _response.rawResponse,
          );
        case 400:
          throw new LangfuseAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new LangfuseAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new LangfuseAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new LangfuseAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new LangfuseAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.LangfuseAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.LangfuseAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.LangfuseAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/unstable/evaluators/{evaluatorId}.",
        );
      case "unknown":
        throw new errors.LangfuseAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
