name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20]
    name: Test on Node ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn test

  integration-test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    env:
      LF_HOST: "http://localhost:3000"
      LF_SECRET_KEY: "sk-lf-1234567890"
      LF_PUBLIC_KEY: "pk-lf-1234567890"
    steps:
      - uses: actions/checkout@v3

      - name: Clone langfuse server
        run: |
          git clone https://github.com/langfuse/langfuse.git ./langfuse-server

      - name: Cache langfuse server dependencies
        uses: actions/cache@v3
        with:
          path: ./langfuse-server/node_modules
          key: |
            langfuse-server-${{ hashFiles('./langfuse-server/package-lock.json') }}
            langfuse-server-

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Run langfuse server
        run: |
          cd ./langfuse-server

          echo "::group::Run langfuse server"
          TELEMETRY_ENABLED=false docker-compose up -d
          echo "::endgroup::"

          echo "::group::Install dependencies (necessary to run seeder)"
          npm ci
          echo "::endgroup::"

          echo "::group::Apply migrations and seed db"
          cp .env.dev.example .env
          npx --yes prisma migrate reset --force --skip-generate
          echo "::endgroup::"

      - run: yarn install
      - run: yarn compile
      - run: yarn test:integration

  lint:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: yarn install
      - run: yarn compile
      - run: yarn lint
      - run: yarn prettier:check
  all-tests-passed:
    # This allows us to have a branch protection rule for tests and deploys with matrix
    runs-on: ubuntu-latest
    needs: [tests, integration-test, lint]
    if: always()
    steps:
      - name: Successful deploy
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failing deploy
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
